<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Minecraft_Wii_U_Mod_Injector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.12.3.0" newVersion="3.12.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Minecraft_Wii_U_Mod_Injector.Properties.Settings>
      <setting name="Style" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="DiscordRPC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReleaseNotes" serializeAs="String">
        <value>Current</value>
      </setting>
      <setting name="PrereleaseOptIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TabIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WiiUIPv4" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstLaunch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SeenLangMngr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SeenQmmMngr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CemuGfxLoc" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="SeenCemuMngr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
    </Minecraft_Wii_U_Mod_Injector.Properties.Settings>
  </userSettings>
</configuration>
